:host {
  display: block;
  background-color: #001f2e;
  padding: 40px 0;
}

.articulo-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #00343d;
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.meta-info {
  font-size: 0.9rem;
  color: #c7c7c7;
  margin-bottom: 8px;
  text-align: left;
}

.titulo-post {
  font-size: 2rem;
  color: var(--color-acento);
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.subtitulo-post {
  font-size: 1.1rem;
  color: #b0b0b0;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

.bold {
  color: var(--color-acento);
  text-transform: uppercase;
}

.banner-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 30px;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

details.categoria {
  margin-bottom: 20px;
  border: 1px solid #005C53;
  border-radius: 10px;
  background-color: #01292f;
  overflow: hidden;
  transition: all 0.3s ease;
}

details.categoria summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #D6D58E;
  cursor: pointer;
  background-color: transparent;
  list-style: none;
  user-select: none;
}

.flecha-svg {
  transition: transform 0.3s ease;
}

details[open] .flecha-svg {
  transform: rotate(90deg);
}

details.categoria .terminos {
  padding: 10px 24px 20px;
  background-color: #021f24;
}

.termino {
  margin-bottom: 24px;
}

.termino h3 {
  font-size: 1.05rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.termino p {
  font-size: 0.95rem;
  color: #dcdcdc;
  line-height: 1.6;
  margin-bottom: 10px;
}

.ver-mas {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 14px;
  background-color: transparent;
  border: 1px solid var(--color-acento);;
  color: var(--color-acento);
  border-radius: 6px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.ver-mas:hover {
  color: var(--color-acento);
  color: #001f2e;
}