<div class="articulo-container">
  <div class="meta-info">
    <span>📅 Publicado: Junio 05, 2025</span> • <span>7 min read</span>
  </div>

  <h1 class="titulo-post">Diccionario <span class="bold">FINANCIERO</span></h1>
  <p class="subtitulo-post">Todo lo que necesitás saber</p>

  <div class="banner-wrapper">
    <img
      src="assets/blog/diccionario-financiero.png"
      alt="Banner: diccionario financiero"
      class="banner-img"
    />
  </div>

  <section class="article" *ngFor="let categoria of categoriasUnicas()">
    <details class="categoria">
      <summary class="categoria-titulo">
        <ng-container *ngIf="iconosPorCategoria[categoria] as icono">
          <lucide-icon [name]="icono" class="icon-inline"></lucide-icon>
        </ng-container>
        {{ categoria }}
        <svg
          class="flecha-svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
        >
          <path fill="#DBF227" d="M8 5l8 7-8 7z" />
        </svg>
      </summary>

      <div class="terminos">
        <div
          class="termino"
          *ngFor="let termino of terminosFiltradosPorCategoria(categoria)"
        >
          <h3>{{ termino.titulo }}</h3>
          <p>{{ termino.descripcion }}</p>
          <p *ngIf="termino.link">
            <a [routerLink]="['/educacion', termino.link]" class="ver-mas">
              Ver más
            </a>
          </p>
        </div>
      </div>
    </details>
  </section>
</div>
