<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo/logo-finzAR.png" alt="FinzAR Logo" />
      </a>
    </div>

    <button class="menu-toggle" id="menu-toggle">☰</button>

   <ul class="nav-links" id="nav-links">
     <li><a routerLink="/"><i class="fas fa-home"></i> Inicio</a></li>
     <li><a routerLink="/educacion"><i class="fas fa-book-open"></i> Educación Financiera</a></li>
     <li><a routerLink="/herramientas"><i class="fas fa-tools"></i> Herramientas</a></li>
     <li><a routerLink="/asesorias"><i class="fas fa-user-check"></i> Asesorías</a></li>
     <li><a routerLink="/contact"><i class="fas fa-info-circle"></i> Sobre FinzAR</a></li>
   </ul>

  </nav>
</header>
