nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 900;
    text-decoration: none;
    color: #444444;
    border-bottom: 5px solid transparent;
    transition: border-bottom-color 0.4s ease-in-out;
  }
  
  nav ul li a:hover {
    border-bottom-color: #d55132;
  }


  @media (min-width: 768px){
  nav ul li a {
    font-size: 1.5rem;
  }
}