<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo/logo-finzAR.png" alt="FinzAR Logo" />
      </a>
    </div>

    <button class="menu-toggle" id="menu-toggle">☰</button>

    <ul class="nav-links" id="nav-links">
      <li><a routerLink="/"><lucide-icon name="home" class="nav-icon"></lucide-icon> Inicio</a></li>
      <li><a routerLink="/educacion"><lucide-icon name="book-open-check" class="nav-icon"></lucide-icon> Educación Financiera</a></li>
      <li><a routerLink="/herramientas"><lucide-icon name="wrench" class="nav-icon"></lucide-icon> Herramientas</a></li>
      <li><a routerLink="/asesorias"><lucide-icon name="user-check" class="nav-icon"></lucide-icon> Asesorías</a></li>
      <li><a routerLink="/contact"><lucide-icon name="info" class="nav-icon"></lucide-icon> Sobre FinzAR</a></li>
    </ul>
  </nav>
</header>
