<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo/logo-finzAR.png" alt="FinzAR Logo" />
      </a>
    </div>

    <button class="menu-toggle" id="menu-toggle">☰</button>

    <ul class="nav-links" id="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/educacion">Educación Financiera</a></li>
      <li><a routerLink="/herramientas">Herramientas</a></li>
      <li><a routerLink="/asesorias">Asesorías</a></li>
      <li><a routerLink="/contact">Sobre FinzAR</a></li>
    </ul>
  </nav>
</header>
