<section class="educacion-container">
  <h1>Educación Financiera</h1>
  <p class="intro">
    Aprendé a gestionar tu dinero con guías simples y concretas.
  </p>

  <hr class="linea-separadora">
  
  <div class="articulos-grid">

    <!-- Artículo 1 -->
    <div class="articulo">
      <img src="assets/blog/tarjeta-de-credito.png" alt="Tarjetas de crédito">
      <div class="contenido">
        <h2>¿Tu tarjeta te ayuda o te hunde? Aprendé a usarla con estrategia</h2>
        <p>
          Entendé el verdadero funcionamiento de la tarjeta, cuándo conviene financiar y cómo evitar intereses disfrazados.
        </p>
        <a class="leer-mas" routerLink="/educacion/tarjeta-de-credito">Leer más →</a>
      </div>
    </div>
        <!-- Artículo 2 -->
    <div class="articulo">
      <img src="assets/blog/orden-financiero.png" alt="Orden financiero">
      <div class="contenido">
        <h2>Tenés plata, pero está desordenada</h2>
        <p>
          Aprendé a tener control sin obsesionarte: billeteras, tarjetas y gasto inteligente.
        </p>
        <a class="leer-mas" routerLink="/educacion/orden-financiero">Leer más →</a>
      </div>
    </div>
    <div class="articulo">
      <img src="assets/blog/deuda.png" alt="Diccionario financiero">
      <div class="contenido">
        <h2>Deuda</h2>
        <p>
          La palabra "deuda" a menudo evoca una sensación de agobio, pero no todas las deudas son iguales, y la clave
          está en el <strong>endeudamiento responsable.</strong>
        </p>
        <a class="leer-mas" routerLink="/educacion/deuda">Leer más →</a>
      </div>
    </div>
    <!-- Diccionario -->
    <div class="articulo">
      <img src="assets/blog/diccionario-financiero.png" alt="Diccionario financiero">
      <div class="contenido">
        <h2>¿Te hablan de TNA, interés, inversión, y sentís que estás leyendo en otro idioma?</h2>
        <p>
          Una guía clara, directa y en criollo con los términos más importantes que aparecen en resúmenes,
          homebanking, billeteras, inversiones, contratos y préstamos.
        </p>
        <a class="leer-mas" routerLink="/educacion/diccionario-financiero">Leer más →</a>
      </div>
    </div>



    <!-- Más artículos acá -->
    
  </div>
</section>

