<section class="herramientas-container">
  <h1>Herramientas</h1>
  <p class="intro">
    Todo lo que necesitás para tomar mejores decisiones.
  </p>

  <hr class="linea-separadora">
  
  <div class="herramientas-grid">

    <!-- Calculadora -->
    <div class="herramienta">
      <img src="assets/herramientas/cuotas-contado.png" alt="Calculadora">
      <div class="contenido">
        <h2>¿Cuotas o contado?</h2>
        <p>
          Herramienta sencilla para saber de forma rápida si te conviene comprar en cuotas o de contado.
        </p>
        <a class="leer-mas" routerLink="/herramientas/calculadora-cuotas">Leer más →</a>
      </div>
    </div>
        <!-- Planilla de Gastos -->
    <div class="herramienta">
      <img src="assets/herramientas/planillagastos.png" alt="Planilla de Gastos">
      <div class="contenido">
        <h2>Planilla de Gestión de Gastos</h2>
        <p>
          Hoja de cálculo automatizada donde vas a poder cargar tus gastos diarios, tener una visión global y recibir recomendaciones.
        </p>
        <a class="leer-mas" routerLink="/herramientas/planilla-gastos">Leer más →</a>
      </div>
    </div>
    <!-- Inversiones -->
    <div class="herramienta">
      <img src="assets/herramientas/inversiones.png" alt="Inversiones">
      <div class="contenido">
        <h2>Inversiones</h2>
        <p>
          Encontrá la inversión más adecuada para vos, plazos fijos, fondos comunes de inversión, rendimientos crypto y más.
        </p>
        <a class="leer-mas" routerLink="/educacion/orden-financiera">Leer más →</a>
      </div>
    </div>

    <!-- Más artículos acá -->
    
  </div>
</section>