<div class="articulo-container">
<h1>¿ Quién está detrás de <img src="assets/logo/logo-finzAR-op.png" alt="FinzAR" class="logo-inline-logo"> ?</h1>


  <p class="subtitulo-post">Un proyecto con propósito</p>

  <section class="article">
    <h2 class="tip">
  <lucide-icon name="square-pen" [size]="32" class="icon-inline"></lucide-icon>
  Sobre mí
</h2>
    <p>Mi nombre es <strong>Juan Pablo</strong>, trabajo como <strong>Manager de Finanzas</strong> en un grupo económico argentino, gestionando flujos de fondos, inversiones, optimizando el uso del dinero y ayudando a equipos a tomar decisiones financieras estratégicas</p>
    <p>También administro la economía de nuestra empresa familiar, dedicada a la producción agropecuaria y al transporte. Me enfoco en anticipar gastos, optimizar recursos y mantener el orden, incluso en los meses más ajustados.</p>

    <p><strong>FinzAR</strong> nace como una síntesis de esa experiencia: un espacio para ayudar a otras personas a entender sus finanzas, tomar mejores decisiones y ganar tranquilidad.</p>

    <h2><lucide-icon name="shield-question" [size]="32" class="icon-inline"></lucide-icon> ¿Por qué hice este sitio?</h2>
    <p>Porque vi que muchas personas están cansadas de consejos financieros desconectados de la realidad argentina.</p>
    <p>Quería crear algo útil, simple y local, que combine educación, herramientas automatizadas y lenguaje cotidiano.</p>

    <p>Acá vas a encontrar desde <strong>guías para entender tu tarjeta de crédito</strong> hasta <strong>herramientas para proyectar tus gastos e ingresos mes a mes</strong>. Todo con el foco en lo más importante: <strong>tu bienestar financiero</strong>.</p>

    <h2 class="tip">
  <lucide-icon name="user-check" [size]="32" class="icon-inline"></lucide-icon>
  Redes y contacto
</h2>

<p>Si tenés dudas, querés proponer una idea o simplemente saludar, estoy del otro lado. Me encanta recibir feedback y conectar con personas interesadas en mejorar sus finanzas.</p>

<ul class="sin-puntos">
  <li>
    <lucide-icon name="mail" [size]="24" class="icon-inline"></lucide-icon>
    <strong>Email: </strong>
    <a href="mailto:finzar.ar@gmail.com">ar.juanpablososa@gmail.com</a>
  </li>
  <li>
    <lucide-icon name="instagram" [size]="24" class="icon-inline"></lucide-icon>
    <strong>Instagram: </strong>
    <a href="https://www.instagram.com/juampisosa12" target="_blank">@juampisosa12</a>
  </li>
  <li>
    <lucide-icon name="github" [size]="28" class="icon-inline"></lucide-icon>
    <strong>GitHub:</strong>
    <a href="https://github.com/juanpsosa/" target="_blank"> juanpsosa</a>
  </li>
</ul>

<hr class="separador" />

<p style="text-align: center; font-size: 0.85rem; color: #aaa; margin-top: 2rem;">
  © 2025 FinzAR – Hecho con propósito desde Argentina.<br>
  Todos los derechos reservados.
</p>

  </section>
</div>
