<header>
  <div class="items-center justify-items-center p-4 text-center">
    <h1>Sobre mí</h1>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 text-center mx-auto">
          <h2 class="name">¡Hola! Soy Juampi 👋</h2>
          <p class="im">Data Scientist Junior | Sales Analyst</p>
          <p>
            Trabajo como <span class="analista">analista de ventas</span> y
            <span class="gestor">gestor de comercio internacional</span> en una
            empresa agroindustrial. Además de mis funciones principales,
            colaboro con otras áreas en el análisis, gestión y visualización de
            datos. También he tenido experiencia en el desarrollo web.
          </p>
          <p>
            Actualmente me encuentro formando mi carrera profesional como
            <strong class="data">Data Scientist</strong>, para llevar mis
            habilidades analíticas al siguiente nivel y aplicarlas a proyectos
            aún más desafiantes.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<hr class="col-8" style="margin: auto" />
<section>
  <div class="items-center justify-items-center p-4 text-center">
    <h3>
      Herramientas que utilizo / certificaciones relacionadas<span
        class="icon"
      ></span>
    </h3>
    <div class="row">
      <!-- Lenguajes -->
      <div class="container lenguajes col-sm-12 col-md-6">
        <h5 class="herramientas">Lenguajes</h5>
        <div class="row">
          <div class="ico col-6 col-md-3">
            <i class="iconos devicon-python-plain"></i>
            <h6>Python</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <i class="iconos devicon-mysql-plain"></i>
            <h6>SQL</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <i class="iconos devicon-html5-plain-wordmark colored"></i>
            <h6>HTML</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <i class="iconos devicon-css3-plain-wordmark colored"></i>
            <h6>CSS</h6>
          </div>
        </div>
      </div>
      <!-- Librerías -->
      <div class="container librerias col-sm-12 col-md-6">
        <h5 class="herramientas">Librerías</h5>
        <div class="row">
          <div class="ico col-6 col-md-3">
            <i class="iconos devicon-pandas-original-wordmark colored"></i>
            <h6>Pandas</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <i class="iconos devicon-numpy-original colored"></i>
            <h6>NumPy</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <img
              class="iconos"
              src="https://upload.wikimedia.org/wikipedia/commons/8/84/Matplotlib_icon.svg"
              alt="Matplotlib"
            />
            <h6>Matplotlib</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <img
              class="iconos"
              src="https://seaborn.pydata.org/_images/logo-tall-lightbg.svg"
              alt="Seaborn"
            />
            <h6>Seaborn</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <img
              class="iconos"
              src="https://geopandas.org/en/stable/_images/geopandas_icon.png"
              alt="Geopandas"
            />
            <h6>Geopandas</h6>
          </div>
          <div class="ico col-6 col-md-3">
            <img
              class="iconos"
              src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
              alt="Scikit-learn"
            />
            <h6>Scikit-learn</h6>
          </div>
        </div>
      </div>
      <!-- Visualización -->
      <div class="container visual col-sm-12 col-md-6">
        <h5 class="herramientas">Visualización</h5>
        <div class="row">
          <div class="ico col-6 col-md-3">
            <img
              class="iconos"
              src="https://upload.wikimedia.org/wikipedia/commons/c/cf/New_Power_BI_Logo.svg"
              alt="Power BI"
            />
            <h6>Power BI</h6>
          </div>
        </div>
      </div>
      <!-- Certificaciones -->
      <div class="container visual col-sm-12 col-md-6">
        <h5 class="herramientas">Certificaciones</h5>
        <div class="row">
          <div class="col-6 col-md-3">
            <a data-bs-toggle="modal" data-bs-target=".modalDS"
              ><img
                src="../../assets/cert/certificadodsp.png"
                alt=""
                class="iconos"
            /></a>
            <div
              class="modal fade modalDS"
              id="modalDataScience"
              tabindex="-1"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="container">
                    <div class="row justify-content-start">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div class="alert alert-warning" role="alert">
                        Certificación final <strong>EN CURSO ✍</strong>
                      </div>
                    </div>
                  </div>
                  <h6 style="font-size: 1.5em">
                    <img
                      class="datacamplogo"
                      src="../../assets/cert/datacamplogo.png"
                      alt=""
                    /><br />Data Scientist Professional Certificate
                  </h6>
                  <ul>
                    <strong>
                      <li>
                        Introduction to Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/7d841ae8d72ef49fc5723487c303cb0afb573057"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Intermediate Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/173d09033acb0557184a97c444e4c100c26f7d05"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Data manipulation with Pandas
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/d51072d9116883b555f72539924e63f692aa32b7"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Joining Data with Pandas
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/bea12526223665d830c245f398e9145ffd88077e"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Introduction to Statistics in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/714f3f5bf92d28c26021953142be0fb0e6f5526f"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Introduction to Data Visualization with Matplotlib
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/659c96142671dacde326be9f18a8fb8cd81cbaf5"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Introduction to Data Visualization with Seaborn
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/0e22fab8cb71d780a1d2fd7fc68ad8d363da94ef"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Python Data Science Toolbox (Part 1)
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/2c32b1acd8b88232a5e39e50efdaff15e1b40f3b"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Python Data Science Toolbox (Part 2)
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/acbc8215dca245d7edc130e09f86a51fef717214"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Intermediate Data Visualization with Seaborn
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/13ceda50fec6bcf8e81a1457b178825f413e2930"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Exploratory Data Analysis
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/efd9e37acfe76a3dfc758c7f606911bf11305bf3"
                          >🔗</a
                        >
                      </li>
                      <li class="incompleto">
                        Working with Categorical Data in Python
                        <a target="_blank">🔜</a>
                      </li>
                      <li>
                        Data Communication Concepts
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/4cf6686245375a9c27abe676a31d5b827906bcc5"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Introduction to Importing Data in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/1f7582e99fb82dc0e962c7d8912b70b78d53d9e9"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Cleaning Data in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/2fbd526833df8596b9fba127837b6c7ca10496f8"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Working with Dates and Times in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/8af9cc4ea754bdfc2a9976bfc3475ae088dbc190"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Writing Functions in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/bebc6fb8514e525b5e039996b86c704de8912e2f"
                          >🔗</a
                        >
                      </li>
                      <li class="incompleto">
                        Introduction to Regression with statsmodels in Python
                        <a target="_blank">🔜</a>
                      </li>
                      <li>
                        Sampling in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/e4900f74ab391202a819a644e0f7776878799efd"
                          >🔗</a
                        >
                      </li>
                      <li class="incompleto">
                        Hypothesis Testing In Python
                        <a target="_blank">🔜</a>
                      </li>
                      <li class="incompleto">
                        Supervised Learning with Scikit-Learn
                        <a target="_blank">🔜</a>
                      </li>
                      <li class="incompleto">
                        Unsupervised Learning in Python
                        <a target="_blank">🔜</a>
                      </li>
                      <li class="incompleto">
                        Machine Learning with Tree-Based Models in Python
                        <a target="_blank">🔜</a>
                      </li>
                      <li class="incompleto">
                        Certificación
                        <span class="final-certification">FINAL 🏆</span
                        ><a target="_blank">🔜</a>
                      </li>
                    </strong>
                  </ul>
                </div>
              </div>
            </div>
            <h6>Data Scientist Professional Certificate<br />(dataCamp)</h6>
          </div>
          <!-- dap -->
          <div class="col-6 col-md-3">
            <a data-bs-toggle="modal" data-bs-target=".modalDA"
              ><img
                src="../../assets/cert/certificadodap.png"
                alt=""
                class="iconos"
            /></a>
            <div
              class="modal fade modalDA"
              id="modalDataAnalysis"
              tabindex="-1"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="container">
                    <div class="row justify-content-start">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div class="alert alert-warning" role="alert">
                        Certificación final <strong>EN CURSO ✍</strong>
                      </div>
                    </div>
                  </div>
                  <h6 style="font-size: 1.5em">
                    <img
                      class="datacamplogo"
                      src="../../assets/cert/datacamplogo.png"
                      alt=""
                    /><br />Data Analysis Professional Certificate
                  </h6>
                  <ul>
                    <strong>
                      <li>
                        Introduction to Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/7d841ae8d72ef49fc5723487c303cb0afb573057"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Intermediate Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/173d09033acb0557184a97c444e4c100c26f7d05"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Data manipulation with Pandas
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/d51072d9116883b555f72539924e63f692aa32b7"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Joining Data with Pandas
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/bea12526223665d830c245f398e9145ffd88077e"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Introduction to Statistics in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/714f3f5bf92d28c26021953142be0fb0e6f5526f"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Introduction to Data Visualization with Seaborn
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/0e22fab8cb71d780a1d2fd7fc68ad8d363da94ef"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Exploratory Data Analysis
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/efd9e37acfe76a3dfc758c7f606911bf11305bf3"
                          >🔗</a
                        >
                      </li>
                      <li>
                        Sampling in Python
                        <a
                          target="_blank"
                          href="https://www.datacamp.com/statement-of-accomplishment/course/e4900f74ab391202a819a644e0f7776878799efd"
                          >🔗</a
                        >
                      </li>
                      <li class="incompleto">
                        Hypothesis Testing In Python
                        <a target="_blank">🔜</a>
                      </li>
                      <li class="incompleto">
                        Certificación
                        <span class="final-certification">FINAL 🏆</span
                        ><a target="_blank">🔜</a>
                      </li>
                    </strong>
                  </ul>
                </div>
              </div>
            </div>
            <h6>Data Analyst Professional Certificate<br />(dataCamp)</h6>
          </div>
          <div class="col-6 col-md-3">
            <a
              href="https://www.freecodecamp.org/certification/juanpsosa/data-analysis-with-python-v7"
              target="_blank"
              ><img
                class="iconos"
                src="../../assets/cert/freecodecamp.png"
                alt="Data Analysis with Python freeCodeCamp"
            /></a>
            <h6>Data Analysis with Python <br />(fCC)</h6>
          </div>
          <div class="col-6 col-md-3">
            <a
              href="https://www.coderhouse.es/certificados/63058f158d4a7500fcb191d3"
              target="_blank"
              ><img
                class="iconos"
                src="../../assets/cert/dscoderhouse.png"
                alt="Data Science (CODERHOUSE)"
            /></a>
            <h6>Data Science <br />(CODERHOUSE)</h6>
          </div>
          <div class="col-6 col-md-3">
            <a
              href="https://www.coderhouse.es/certificados/6185f4bb145c300046ba99b4"
              target="_blank"
              ><img
                class="iconos"
                src="../../assets/cert/dacoderhouse.png"
                alt="Data Analytics (CODERHOUSE)"
            /></a>
            <h6>Data Analytics <br />(CODERHOUSE)</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
