<div class="items-center justify-items-center p-4 text-center skills">
  <h4>Sobre mí</h4>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center mx-auto">
        <h5 class="name">¡Hola! Soy Juampi 👋</h5>
        <p class="text-justify im">Data Scientist Junior | Sales Analyst</p>
        <p class="text-justify">Trabajo como <span class="analista">analista de ventas</span> y <span class="gestor">gestor de comercio
            internacional</span> en una empresa agroindustrial. Además de mis funciones principales, colaboro con otras
          áreas en el análisis, gestión y visualización de datos. También he tenido experiencia en el desarrollo web.
        </p>
      </div>
      <div class="col-sm-12 col-md-7 text-center mx-auto">
        <p class="text-justify">Actualmente me encuentro formando mi carrera profesional como <strong class="data">Data
              Scientist</strong>, para llevar mis habilidades analíticas al siguiente nivel y aplicarlas a
          proyectos aún más desafiantes.</p>
      </div>
    </div>
  </div>

  <h5>Herramientas que utilizo<span class="icon"></span></h5>




  <div class="container lenguajes">
    <h5 class="herramientas">Lenguajes</h5>
    <div class="row">
      <div class="col-6 col-md-3">
        <i class="iconos devicon-python-plain"></i>
        <h6>Python</h6>
      </div>
      <div class="col-6 col-md-3">
        <i class="iconos devicon-mysql-plain"></i>
        <h6>SQL</h6>
      </div>
      <div class="col-6 col-md-3">
        <i class="iconos devicon-html5-plain-wordmark colored"></i>
        <h6>HTML</h6>
      </div>
      <div class="col-6 col-md-3">
        <i class="iconos devicon-css3-plain-wordmark colored"></i>
        <h6>CSS</h6>
      </div>
    </div>
  </div>
    <div class="container librerias">
      <h5 class="herramientas">Librerías</h5>
      <div class="row">
        <div class="col-6 col-md-3">
          <i class="iconos devicon-pandas-original-wordmark colored"></i>
          <h6>Pandas</h6>
        </div>
        <div class="col-6 col-md-3">
          <i class="iconos devicon-numpy-original colored"></i>
          <h6>NumPy</h6>
        </div>
        <div class="col-6 col-md-3">
          <img class="iconos" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Matplotlib_icon.svg"
            alt="Matplotlib">
          <h6>Matplotlib</h6>
        </div>
        <div class="col-6 col-md-3">
          <img class="iconos" src="https://seaborn.pydata.org/_images/logo-tall-lightbg.svg" alt="Seaborn">
          <h6>Seaborn</h6>
        </div>
        <div class="col-6 col-md-3">
          <img class="iconos" src="https://geopandas.org/en/stable/_images/geopandas_icon.png" alt="Geopandas">
          <h6>Geopandas</h6>
        </div>
        <div class="col-6 col-md-3">
          <img class="iconos" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
            alt="Scikit-learn">
          <h6>Scikit-learn</h6>
        </div>
      </div>
      <div class="container">
        <h5 class="herramientas">Visualización</h5>
        <div class="row">
          <div class="col-6 col-md-3">
            <img class="iconos" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/New_Power_BI_Logo.svg"
              alt="Power BI">
            <h6>Power BI</h6>
          </div>
        </div>
      </div>
    </div>
      <!-- <p>Si buscas un colaborador talentoso que pueda aportar valor a tu negocio y maximizar tus resultados, no dudes en visitar mi portfolio web. Estoy seguro de que quedarás impresionado con mi experiencia y habilidades. ¡Contáctame hoy mismo para comenzar a trabajar juntos!</p> -->