<header>
  <div class="items-center justify-items-center p-4 text-center">
    <h1>Portfolio</h1>
    <p class="text-justify corazon">
      un pequeño trozo de <strong>MI</strong> 💠
    </p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 text-center mx-auto">
          <p class="text-justify">
            Este es un fragmento de mi trabajo en el campo de la ciencia de
            datos, donde he aplicado mis habilidades y conocimientos para
            <span class="analizar">analizar</span>🔎,
            <span class="interpretar">interpretar</span>📝 y
            <span class="visualizar">visualizar</span>📈 información valiosa. He
            utilizado diversas herramientas y técnicas para extraer información
            útil de conjuntos de datos complejos.
          </p>
          <p class="text-justify"><strong>¡Espero que lo disfrutes!</strong></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <!-- sharpeRatio -->
  <div class="container">
    <a routerLink="/sharpe-ratio">
      <div class="card container col-xxl-10">
        <div class="row no-gutters tarjeta">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Gigantes tecnológicos en tiempos de COVID-19<br />
                <span style="font-size: 0.8em"
                  >¿Fue un negocio rentable o un riesgo excesivo?</span
                >
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Análisis riesgo-beneficio de las principales acciones
                tecnológicas durante la pandemia, utilizando el
                <b>Sharpe Ratio</b> como medida de evaluación.
              </h6>
              <hr />
              <p class="card-text">
                Publicado <strong>Apr 26, 2023 | 🕒 8 min</strong> lectura
              </p>
              <span class="badge bg-success">Data Manipulation</span>
              <span class="badge bg-success">Financial Analysis</span>
              <span class="badge bg-success">Financial Modeling</span>
              <span class="badge bg-warning">Sharpe Ratio</span>
              <span class="badge badge-primary">pandas</span>
              <span class="badge badge-primary">numpy</span>
              <span class="badge badge-primary">seaborn</span>
              <span class="badge badge-primary">yfinance</span>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <img
              src="../../assets/sharpeRatio/portada.png"
              class="card-img"
              alt="..."
              style="height: 250px"
            />
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
<section>
  <!-- Siniestros Viales SF -->
  <div class="container">
    <a routerLink="/siniestros-viales-sf">
      <div class="card container col-xxl-10">
        <div class="row no-gutters tarjeta">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Accidentes de Tránsito en Santa Fe
                <span style="font-size: 0.5em; vertical-align: middle"
                  >(<img
                    src="../../assets/argentina_15789.ico"
                    alt="Argentina"
                    class="ico"
                  />AR)</span
                >
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Investigación y Análisis sobre las características y patrones
                existentes en los accidentes de tránsito ocurridos en la
                provincia, con el fin de reducir el riesgo.
              </h6>
              <hr />
              <p class="card-text">
                Publicado <strong>Nov 9, 2022 | 🕒 10 min</strong> lectura
              </p>
              <span class="badge bg-success">Data Manipulation</span>
              <span class="badge bg-success">Data Visualization</span>
              <span class="badge bg-success">Data Analysis</span>
              <span class="badge badge-primary">pandas</span>
              <span class="badge badge-primary">numpy</span>
              <span class="badge badge-primary">seaborn</span>
              <span class="badge badge-primary">geopandas</span>
              <span class="badge badge-primary">scipy</span>
              <span class="badge badge-primary">fuzzywuzzy</span>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <img
              src="../../assets/siniestros-viales-sf/portada.png"
              class="card-img"
              alt="..."
            />
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

<p class="items-center justify-items-center p-4 text-center">
  Más proyectos próximamente 🔜
</p>
