h4 {
  font-family: var(--primary-font);
  color: var(--color-letras);
  padding-top: 0.5em;
  font-size: 3rem;
  font-weight: 900;
}
a {
  text-decoration: none;
}

.container {
  padding: 10px;
}
h6 {
  font-size: 0.9rem;
}

.card {
  border: var(--color-bordes) 1px solid;
  background-color: white;
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* Estilos cuando el cursor está sobre el elemento */
.card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title {
  font-family: var(--primary-font);
  color: var(--color-letras);
  font-size: 1.5em;
  font-weight: 900;
}

.card-text {
  font-size: 0.9em;
  font-family: var(--primary-font);
}

p {
  font-family: var(--primary-font);
  color: var(--color-letras);
}

.corazon {
  font-size: 0.6em;
}

.badge {
  margin: 1px;
}

.badge-primary {
  background-color: #e5885c;
}

.visualizar {
  font-weight: bolder;
  color: #e5885c;
}

.interpretar {
  font-weight: bolder;
  color: #917e14;
}

.analizar {
  font-weight: bolder;
  color: #0099ff;
}

.ico {
  height: 1em;
  width: 1em;
}
