<div class="container col-md-6">
  <header>
    <div class="row">
      <div class="titulo col-md-12 text-center">
        <h1 id="titulo">
          Análisis riesgo - beneficio de las principales acciones tecnológicas
          utilizando Sharpe Ratio
        </h1>
        <hr />
      </div>
      <div class="col-md-12 publicado">
        <p class="publicado2">
          Publicado en <strong>Nov 26, 2023</strong> por
          <a href="#"><b>JUAN PABLO SOSA</b></a>
        </p>
        <br />
        <p>🕒<b>xx MIN</b> de Lectura</p>
      </div>
    </div>
  </header>
  <!-- INTRO -->
  <section>
    <div class="row intro">
      <div class="col-md-12">
        <h4>Sección en construcción 🔨</h4>
        <p>
          <b
            >Lorem ipsum dolor sit amet consectetur...</b
          >
        </p>
        <br>
      </div>
    </div>
  </section>
  <!-- FIN DEL DOC -->
</div>
