<div class="container col-md-8">
  <header>
    <div class="row">
      <div class="titulo col-md-12 text-center">
        <h1 id="titulo">¿Por qué los estamos perdiendo?</h1>
        <hr />
      </div>
      <div class="col-md-12 publicado">
        <p class="publicado2">
          Publicado en <strong>Dic 12, 2022</strong> por
          <a href="#"><b>JUAN PABLO SOSA</b></a>
        </p>
        <br />
        <p>🕒<b>... MIN</b> de Lectura</p>
      </div>
    </div>
  </header>

  <!-- CONTEXTO -->
  <section>
    <div class="row intro">
      <div class="col-md-12">
        <h4>CONTEXTO</h4>
        <p>
          Se ha llevado a cabo un estudio con el objetivo de identificar las
          variables que más inciden en los intentos de suicidio en adolescentes
          y jovenes. El objetivo principal ha sido identificar patrones y
          factores de riesgo que puedan contribuir a la prevención y tratamiento
          de la conducta suicida, así como en la promoción de salud mental en
          general.
        </p>
        <br />
        <p>
          Categorizamos los individuos en tres grupos distintos: aquellos que
          presentan "pensamiento suicida", aquellos que experimentan "ideación
          suicida" y aquellos que han realizado un "intento suicida" al menos
          una vez. Estas categorías nos permiten identificar mejor las
          diferentes etapas y grados de riesgo asociados con la conducta
          suicida.
        </p>
      </div>
    </div>
  </section>
  <section>
    <!-- DATOS -->
    <div class="row intro">
      <div class="col-md-12">
        <h4>DATOS</h4>
        <p><b>Fuente del dataset:</b></p>
        <br />
        <p>
          <a
            href="https://datos.gob.ar/ar/dataset/salud-base-datos-3deg-encuesta-mundial-salud-escolar-emse-con-resultados-nacionales-argentina"
            >Base de datos de la 3° Encuesta Mundial de Salud Escolar (EMSE) con
            resultados nacionales, Argentina</a
          >
        </p>
        <br />
        <p>
          La base de datos cuenta con un total de 72 variables correspondientes
          a las preguntas del cuestionario y 81 variables derivadas
          correspondientes a indicadores porcentuales.
        </p>
        <br />
      </div>
    </div>
  </section>
  <section>
    <!-- DATOS -->
    <div class="row intro">
      <div class="col-md-12">
        <h4>ANÁLISIS EXPLORATORIO DE LOS DATOS</h4>
        <p>
          En primer lugar, veremos qué proporción de los indiviudos ha
          manifestado alguna de las variables objetivo.
        </p>
        <br />
        <!-- FREQ-DIARIA -->
        <button
          type="button"
          class="btn btn-sm btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#propYvar"
        >
          👁
        </button>
        <div>
          <img
            src="../../../assets/emse/propYvar.png"
            alt=""
            class="img-fluid"
          />
        </div>

        <!-- Modal FREQ-DIARIA -->
        <div
          class="modal fade"
          id="propYvar"
          tabindex="-1"
          aria-labelledby="propYvarLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  src="../../../assets/emse/propYvar.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <ul>
          <li>
            En relación al <b>pensamiento suicida</b>, se observó que
            aproximadamente el <b>21%</b> de los individuos en el conjunto de
            datos han experimentado este tipo de pensamientos. Esto indica la
            presencia de una parte significativa de la muestra que ha tenido
            este tipo de pensamiento.
          </li>
          <li>
            En cuanto a la <b>ideación suicida</b>, se encontró que alrededor
            del <b>17.08%</b> de los individuos reportaron haber experimentado
            esta problemática. Esto resalta la importancia de considerar este
            aspecto dentro del análisis de la conducta suicida en adolescentes y
            jóvenes.
          </li>
          <li>
            En lo que respecta a los <b>intentos suicida</b>, aproximadamente el
            <b>14.93%</b> de los individuos han realizado al menos un intento de
            suicidio. Estos datos son alarmantes y subrayan la gravedad de la
            situación, resaltando la necesidad de abordar adecuadamente esta
            problemática.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <p style="color: rgb(122, 34, 34)">
    👷<i>
      Sección en construcción... próximamente estará publicado el informe.</i
    >
  </p><br><br><br>
</div>
