:root {
  /* 游꿛 Colores base */
  --color-fondo: #10454F;
  --color-letras: #BDE038;
  --color-bordes: #dadada94;

  /* 游눜 Paleta FinzAR */
  --color-principal: #10454F;     /* Azul petr칩leo oscuro */
  --color-secundario: #0F6466;    /* Verde petr칩leo m치s claro */
  --color-acento: #BDE038;
  --color-resaltar: #A4C3B2;
  --color-resaltar1: #D6D58E;        /* Verde lima vibrante */
  --color-blanco: #ffffff;
  --color-cta: #d55132;           /* Bot칩n naranja */
  --color-cta-hover: #b84227;

  /* 九꽲잺 Tipograf칤as */
  --primary-font: 'PT Sans', sans-serif;
  --secondary-font: 'Annie Use Your Telescope', cursive;
  --tertiary-font: 'Roboto Mono', monospace;

  /* 游빔 Otros (pueden servirte para escalar estilos) */
  --espaciado-seccion: 4em;
  --radius: 12px;
  --sombra-suave: 0 4px 12px rgba(0, 0, 0, 0.05);
}
  
body{
    background-color: var(--color-fondo)
}

h1{
  color: var(--color-letras);
  font-family: var(--primary-font);
  padding-top: .5em;
  font-size:3rem;
  font-weight: 900;
}